.c {
  position: absolute;
  width: 350px;
  height: 600px;
  border: 12px solid black;
  border-radius: 15px;
  cursor: pointer;
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  .imageWrap {
    width: 300px;
    margin-top: 25px;

    img {
      border-radius: 15px;
      box-shadow: 4px 4px 12px #bbb;
    }
  }

  h2 {
    margin-top: 10px;
  }
}

.front,
.back {
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.back {
  background-color: dodgerblue;
}

.front {
  background-image: url(../images/broodinback.png);
}

.card {
  width: 365px;
}
