.c {
  position: absolute;
  width: 350px;
  height: 600px;
  border: 15px solid black;
  border-radius: 15px;
  cursor: pointer;
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .imageWrap {
    width: 300px;
  }

  h2 {
    margin-bottom: 10px;
  }
}

.front,
.back {
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.back {
  background-color: dodgerblue;
}

.front {
  background-image: url(../images/broodinback.png);
}

.card {
  width: 365px;
}
