.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
  margin-left: 20px;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(../images/broodin.png);
}

.front {
  background-image: url(../images/broodinback.png);
}
